---
Language:      Cpp
BasedOnStyle:  Microsoft

ColumnLimit:     100
IndentWidth:     4
TabWidth:        4
UseTab:          Never

# AccessModifierOffset: -4
#
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
#
# AlwaysBreakAfterReturnType: None
# AlwaysBreakTemplateDeclarations: Yes
# BreakBeforeBraces: Attach
#
# EmptyLineAfterAccessModifier: Never
# EmptyLineBeforeAccessModifier: LogicalBlock
# MaxEmptyLinesToKeep: 1
#
# PointerAlignment: Right
# QualifierAlignment: Right
# ReferenceAlignment: Pointer
...

